* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #6e34db;
    --secondary-color: #f0a500;
    --tertiary-color: #ff6f61;
    --background-color: #1b1827;
    --text-color: #ffffff;

    --ff-oswald: "Oswald", sans-serif;
    --ff-sasnation: 'Sansation', sans-serif;

    --transition-1: all .2s ease-in-out;

    /* --polygon-1:   polygon(19% 0, 100% 0, 100% 68%, 82% 100%, 0 100%, 0 31%); */
    --polygon-1: polygon(9% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
    --polygon-2: polygon(13% 0, 100% 0%, 86% 100%, 0% 100%);
}

body {
    transition: var(--transition-1);
    font-family: '', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


::-webkit-scrollbar {
    width: 7px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 20px;
}



/*************************** Navbar ******************************/
header {
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    padding-block: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-family: var(--ff-oswald);
    text-transform: uppercase;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.ul {
    height: 100%;
    display: flex;
    gap: 0;
}

.li {
    /* padding: 12px 20px; */
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    padding: 12px 20px;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--ff-oswald);
    font-size: 18px;
    color: var(--text-color);
    text-transform: uppercase;
}

.a:hover {
    color: var(--secondary-color);
    background-color: #77777733;
    clip-path: var(--polygon-2);
}

.nav-actions {
    display: flex;
    align-items: center;
}

.nav-actions button {
    padding: 7px 12px;
    border-left: 2px solid var(--secondary-color);
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--text-color);
    font-family: var(--ff-oswald);
}

.nav-actions ion-icon {
    font-size: 24px;
    color: var(--text-color);
}

.nav-toggle-btns {
    display: none;
}

#nav-open-btn {
    display: none;
}

#nav-close-btn {
    display: none;
}

.overlay {
    display: none;
}



/*************************** MAIN ******************************/
main {
    width: 100%;
    /* margin: 81px 0 0 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: url(../images/sections.jpg); */
    background-size: cover;
    background-position: center;
}


/*************************** Section designs ******************************/
article {
    width: 100%;
    background: url(../images/section-wrapper-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.section-overlay {
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.596)) fill 1;
}



/*************************** Hero Section ******************************/
#home {
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#home .subtext {
    padding: 0 20px;
    font-family: var(--ff-sasnation);
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

#home button {
    padding: 10px 30px;
    border: none;
    background-color: var(--secondary-color);
    clip-path: var(--polygon-1);
    color: var(--text-color);
    font-family: var(--ff-oswald);
    letter-spacing: 1px;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    transition: var(--transition-1);
}

#home button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-color);
}



/*************************** About Section ********************************/
#about {
    margin: 40px 0;
    padding: 60px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--background-color); */
}

.about-wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .about-image {
    width: 300px;
}

#about .about-image img {
    width: 100%;
}

.about-content {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#about .about-subtitle {
    font-family: var(--ff-sasnation);
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}

#about .about-text {
    font-family: var(--ff-sasnation);
    font-size: 17px;
    font-weight: 400;
}

#about .about-subtext {
    font-family: var(--ff-sasnation);
    font-size: 17px;
    font-weight: 400;
}

#about button {
    padding: 10px 20px;
    clip-path: var(--polygon-1);
    width: 170px;
    background-color: var(--secondary-color);
    font-family: var(--ff-oswald);
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    color: var(--text-color);
    border: none;
    transition: var(--transition-1);
}

#about button:hover {
    background-color: var(--tertiary-color);
}



/*************************** Tournament section ******************************/
#tournament {
    padding: 60px 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--background-color); */
}

.tournament-wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tournament-signup {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tournament-signup .tournament-subtitle {
    font-family: var(--ff-sasnation);
    font-size: 27px;
    color: var(--secondary-color);
    font-weight: 700;
    letter-spacing: 1px;
}

.tournament-signup .tournament-subtext {
    font-family: var(--ff-sasnation);
    font-size: 18px;
    font-weight: 500;
}

.tournament-signup button {
    margin: 5px 0 0 0;
    width: 40%;
    padding: 8px 0;
    clip-path: var(--polygon-1);
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    font-family: var(--ff-oswald);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: var(--transition-1);
}

.tournament-signup button:hover {
    background-color: var(--tertiary-color);
}

.tournament-prizepool {
    width: 33%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.tournament-prizepool .prizepool-title,
.tournament-prizepool .prize-amount {
    position: absolute;
}

.tournament-prizepool .prizepool-title {
    margin: 60px 0 0 0;
    font-family: var(--ff-sasnation);
    font-size: 27px;
    font-weight: 600;
}

.tournament-prizepool .prize-amount {
    margin: 130px 0 0 0;
    padding: 5px 22px;
    background-color: var(--secondary-color);
    font-family: var(--ff-oswald);
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
}

.tournament-prizepool img {
    width: 360px;
}

.tournament-winners {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tournament-winners .winners-title {
    margin: 0 26px 0 0;
    font-family: var(--ff-sasnation);
    font-size: 24px;
    font-weight: 800;
    color: var(--secondary-color);
    text-align: center;
}

.tournament-winners .previous-winners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.tournament-winners .previous-winners img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}



/*************************** Responsive ******************************/
@media (max-width: 500px) {
    .section-overlay {
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.158)) fill 1;
    }
}

@media (max-width: 850px) {
    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0;
        padding: 30px 30px !important;
        gap: 0 !important;
    }

    .about-wrapper {
        flex-direction: column-reverse;
    }

    .about-content {
        padding: 0 20px !important;
        width: 100%;
    }

    .about-content button {
        margin: 12px 0 0 0;
    }

    .about-image img {
        width: 300px !important;
    }
}

@media (max-width: 975px) {
    .navbar {
        padding: 0 20px;
    }

    .links {
        display: none;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        display: none;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        z-index: 999;
        animation: openNavAnimation .2s ease-out forwards;
    }

    @keyframes openNavAnimation {
        0% {
            opacity: 0;
            filter: brightness(0.2);
        }

        100% {
            opacity: 1;
            filter: brightness(1);
            pointer-events: auto;
        }
    }

    .overlay .ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .overlay .li {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overlay .a {
        height: 50px;
    }

    .nav-actions {
        display: none;
    }

    .nav-toggle-btns {
        display: flex;
        gap: 20px;
    }

    #nav-open-btn {
        display: block;
        font-size: 30px;
    }

    #nav-close-btn {
        display: none;
        font-size: 30px;
        z-index: 999;
    }

    #about {
        padding: 30px 40px;
        gap: 12px;
    }

    #about .about-content {
        padding: 0 0;
    }
}